<div class="everything">

  <div class="title">Burgers, Burgers, Burgers!</div>
  <br>
  <div class="description">Add burgers to the menu with the "Add a Burger" form below. Click the "devour" button to
    devour the burger</div>
  <br><br><br>

  <div class="container">
    <div class="row">
      <div class="col sm-2" align="center">
        <h5>Burgers that are not devoured</h5>
        <p>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/unless}}
          {{/each}}
        </p>
      </div>
      <div class="col sm-8" align="center">
        <img src="burger.jpg" alt="Boy eating burger">
      </div>
      <div class="col sm-2" align="center">
        <h5>Burgers that are devoured</h5>
        <p>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/if}}
          {{/each}}
        </p>
      </div>
    </div>
    <br><br><br>
    <div class="row">
      <div class="col sm-12" align="center">
        <h2>Add a Burger</h2>
        <form class="create-form">

          <div class="form-group">
            <label for="burg">Burger Name:</label>
            <input type="text" id="burg" name="name">
          </div>

          <button type="submit">Add Burger</button>
        </form>
      </div>
    </div>
  </div>

</div>