
li {
  background-color: yellow;
}

button {
  background-color: yellow;
}

.title {
  text-align: center;
  font-size: 100px;
}

.description {
  text-align: center;
  font-size: 20px;
}
  
.container {
  margin: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

body,html {
  background-color: rgb(247, 47, 47);
}

.not-devoured-burgers {
  align-items: flex-start;
}

.devoured-burgers {
  align-items: flex-end;
}

* {
  background-color: rgb(247, 47, 47);
}